.profile {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 100%;
  border: 4px solid royalblue;
  margin-bottom: 15px;
}

.profile p strong {
  color: royalblue;
}
.profile p {
  margin: 0;
  margin-bottom: 5px;
}
