.singleProductCard {
  width: 330px;
}
.singleProductCard .productImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-bottom: 5px solid rgba(84, 181, 254, 1);
}

.singleProductCard .productInfo {
  padding: 0 1rem;
  margin-top: 1.3rem;
  position: relative;
}

.singleProductCard .productInfo p {
  color: dimgray;
  margin: 0;
}
.singleProductCard .cardIcons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.8rem;
  padding-bottom: 20px;
  align-items: center;
}

.singleProductCard .cardIcons a {
  text-decoration: none;
}
.singleProductCard .cardLeft img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  cursor: pointer;
}
.singleProductCard .cardRight {
  color: #469bfe;
  letter-spacing: 1.3;
  font-weight: 400;
  padding: 0.4rem 0.8rem;
  transition: background 1s ease-in-out;
}

.singleProductCard .cardRight strong {
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 7px;
  transition: background 1s ease;
}

.singleProductCard .cardRight:hover {
  color: #fff;
  background: rgb(84, 181, 254);
  transition: background 1s ease-in-out;
  border-radius: 2px;
  background: linear-gradient(164deg, rgba(84, 181, 254, 1) 0%, rgba(70, 156, 255, 1) 100%);
}

.singleProductCard .priceTag {
  width: 90px;
  height: 40px;
  color: #fff;
  position: absolute;
  top: -30%;
  right: 50;
  font-weight: 600;
  letter-spacing: 1.5;
  padding: 8px 10px;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
  background: rgb(84, 181, 254);
  background: linear-gradient(164deg, rgba(84, 181, 254, 1) 0%, rgba(70, 156, 255, 1) 100%);
}

@media only screen and (max-width: 600px) {
  .singleProductCard {
    width: 200px;
  }
  .singleProductCard .productImage {
    height: 170px;
  }
  .singleProductCard .productInfo {
    font-size: 0.8rem;
    padding: 0 0.8rem;
  }

  .singleProductCard .productInfo h4 {
    font-size: 0.9rem;
    margin-top: 2px;
  }

  .singleProductCard .cardIcons img {
    width: 20px;
    height: 20px;
  }

  .singleProductCard .cardIcons a {
    font-size: 12px;
    font-weight: 400;
  }
  .singleProductCard .cardIcons strong {
    padding: 0;
  }

  .singleProductCard .priceTag {
    width: 60px;
    height: 27px;
    top: -26%;
    font-weight: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
