@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300&display=swap");

/* Global Styles */
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #f6f7f8;
}
a {
  text-decoration: none;
}
h3 {
  color: #363958 !important;
  font-weight: 700;
}

/* Admin Page Styles */
.adminPage {
  display: grid;
  height: 100vh;
  grid-template-columns: 250px auto;
  /* overflow: hidden; */
}

.adminPage .sidebar {
  background: #231931;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.adminPage .sidebar a {
  text-decoration: none;
  color: #fff;
}

.adminPage .sidebar .branding {
  margin-top: 2rem;
}

.adminPage .sidebar .branding img {
  width: 80%;
}

.adminPage .sidebar ul {
  margin-top: 2.5rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.adminPage .sidebar ul a {
  color: #fff;
  text-decoration: none;
  line-height: 2.5;
  width: 100%;
  font-weight: 500;
}

.adminPage .sidebar ul a:hover {
  background-color: royalblue;
}

.adminPage .mainContents .mainContentHeader {
  background-color: rgba(21, 20, 105, 0.021);
  display: flex;
  gap: 20px;
  padding: 1.5rem;
}

.adminPage .mainContents .contents {
  padding: 2rem;
}

/* Home Page Styles */
.productGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
}

.inputWidth {
  width: 40%;
}

/* Login Page Styles */
.loginPage {
  align-items: center;
}

.loginPage img {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .font-weight-bold {
    font-size: 1.5rem;
  }
  .loginImage {
    width: 80% !important;
    margin: 0 auto !important;
  }

  .adminPage {
    grid-template-columns: auto;
  }

  .adminPage .sidebar .branding img {
    width: 140px;
    height: fit-content;
  }

  .adminPage .sidebar {
    height: fit-content;
  }

  .adminPage .sidebar .branding {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }
  .adminPage .sidebar .branding h2 {
    display: none;
  }

  .adminPage .sidebar ul {
    flex-direction: row !important;
    place-content: center;
    margin-top: 1rem;
  }
  .adminPage .sidebar ul a {
    line-height: 1.2;
    width: auto;
    padding: 8px 13px;
  }
  .adminPage .mainContents .contents {
    padding: 1rem;
  }
  .adminPage .mainContents .contents .card {
    margin: 1rem !important;
  }

  .addProductForm .row {
    display: block !important;
  }

  .productGrid {
    justify-content: space-around;
  }
}
